@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@600;700&family=Montserrat:wght@500;700&display=swap");

/* Início Seção Cabeçalho - Menu */

.header {
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    z-index: 999;
    padding: 30px;
    background-color: #FFFFFF;
  
}

.header__menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  max-width: 1440px;
}

.header__menu__padrao {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__menu__padrao li a {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
  color: #343440;
  text-decoration: none;
}

#menu {
  display: none;
}

#open__menu {
  display: none;
}

#login {
  font-weight: 700;
  padding: 15px 67px;
  color: #53a000;
  border: 1px solid #53a000;
  border-radius: 25px;
}

#solicitar__agora {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
  padding: 15px 35px;
  color: #ffffff;
  border: 1px solid #53a000;
  background: #53a000;
  border-radius: 25px;
}

/* Fim Seção Cabeçalho - Menu */

/* Início Seção 1 - Conteúdo Principal */

.container__main {
  width: 92%;
  margin: 10% 10% 5% auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 77px;
  background: aliceblue;
  width: 100%;
  margin-top: 2%;
  padding: 10% 0;
}

.container__main__imagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.txt {
  display: none;
}

.container__texto__titulo {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 54px;
  color: #212121;
  max-width: 535px;
  margin-bottom: 20px;
}

.container__texto__titulo span {
  color: #1471c2;
}

.container__texto__info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 24px;
  color: #343440;
  max-width: 540px;
  margin-bottom: 50px;
}

.container__main__texto a {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
  color: #3f6013;
  border: 1px solid #3f6013;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.08));
  border-radius: 5px;
  padding: 13px 67px;
  text-decoration: none;
}

#folha {
  position: absolute;
  right: 0;
}

/* Fim Seção 1 - Conteúdo Principal */

/* Início Seção 2 - Conteúdo Principal */

#folha2 {
  position: absolute;
  right: 0;
  transform: translate(calc(0%), calc(100% - 120%));
}

#folha3 {
  position: absolute;
  left: 0;
  transform: translate(calc(0%), calc(100% - 110%));
}

#balao {
  position: absolute;
  left: 0;
  transform: translate(calc(0%), calc(100% - 30%));
}

.container__secao2__titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 22px;
  color: #868e96;
}

#container__secao2__texto {
  display: flex;
  justify-content: center;
}

.container__secao2__texto {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 52px;
  text-align: center;
  color: #212121;
  max-width: 570px;
  margin-bottom: 60px;
}

.container__secao2__texto span {
  color: #1471c2;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.container__secao2__cards {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  margin-top: 7%;
}

.container__cards {
  border: 1px solid #e7e7e7;
  background: #fff;
  border-radius: 8px;
  max-width: 328px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin: 10% auto;
}

.numero__card {
  position: relative;
  top: -21px;
  left: -21px;
}

.container__conteudos__texto {
  width: 80%;
  margin: 16px auto;
}

.container__conteudos__titulo {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 24px;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.container__conteudos__texto {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 18px;
  text-align: center;
  color: #212121;
  max-width: 285px;
}

.container__secao3 {
  width: 100%;
  background: #1471c2;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.container__secao3__titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-top: 10%;
}

#container__secao3__titulo {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #ffffff;
  margin-bottom: 5%;
}

#container__secao3__texto {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  max-width: 392px;
  margin-bottom: 5%;
  color: #ffffff;
  list-style: disc;
}

#container__secao3__texto li {
  margin-bottom: 32px;
}

.container__secao3__imagem {
  margin-top: 10%;
}

@media screen and (max-width: 1280px) {
  .container__main {
    flex-direction: column;
  }
  .container__main__imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container__texto__titulo {
    display: none;
  }

  .txt {
    font-family: "Assistant";
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 54px;
    color: #212121;
    max-width: 535px;
    margin-bottom: 20px;
    display: inline;
  }

  #txt2 {
    color: #1471c2;
  }

  .container__main__texto {
    margin: 0 auto;
  }
}
